<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vis admins</title>
</head>
<body>
<div th:replace="header">...</div>
<div class="container">
<h1>Admin liste</h1>

<table class="table">
        <thead class="thead-dark">
    <tr>
        <th scope="col">Fornavn</th>
        <th scope="col">Efternavn</th>
        <th scope="col">Telefonnummer</th>
        <th scope="col">Afdeling</th>
        <th scope="col">Adresse</th>
        <th scope="col">Leder</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="admin: ${admins}">
        <td th:text="${admin.getFirstName()}"></td>
        <td th:text="${admin.getLastName()}"></td>
        <td th:text="${admin.getPhoneNumber()}"></td>
        <td th:text="${admin.getDepartment()}"></td>
        <td th:text="${admin.getAddress()}"></td>
        <td th:text="${admin.getSuperior()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>