<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script>
    function rowClicked(value) {
        location.href = "/caseProfile/" + value;
    }
    function deleteClicked(value) {
        location.href = "/deleteAdmin/" + value;
    }
    function editClicked(value) {
        location.href = "/adminEdit/" + value;
    }

</script>
<head>
    <meta charset="UTF-8">
    <title>Admin profil</title>
</head>
<body>
<div th:replace="header">...</div>
<div class="container">
    <h1>Profil</h1>

    <table class="tables" >
        <thead>
        <tr>
            <th>Navn</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getFirstName()} + ' ' + ${admin.getLastName()}"></td>
        </tbody>

        <thead>
        <tr>
            <th>Leder</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getSuperior()}" ></td>
        </tbody>

        <thead>
        <tr>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getEmail()}" ></td>
        </tbody>

        <thead>
        <tr>
            <th>Initialer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getInitials()}" ></td>
        </tbody>

        <thead>
        <tr>
            <th>Telefonnummer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getPhoneNumber()}" ></td>
        </tbody>

        <thead>
        <tr>
            <th>Adresse</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getAddress()}" ></td>
        </tbody>

        <thead>
        <tr>
            <th>Afdeling</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin: ${admin}" ></tr>
        <td th:text="${admin.getDepartmentName()}" ></td>
        </tbody>


    </table>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emne</th>
            <th scope="col">Tildelt til</th>
            <th scope="col">Startet af</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="cases: ${cases}" style="cursor: pointer"
            th:onclick="'javascript:rowClicked(\'' + ${cases.getId()} + '\');'">
            <td th:text="${cases.getSubject()}"></td>
            <td th:text="${cases.getAssigned()}"></td>
            <td th:text="${cases.getCaseOwner()}"></td>
        </tr>
    </table>

    <!--Hardware-->

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="pc: ${pc}">
            <td th:text="${pc.getName()}"></td>
            <td th:text="${pc.getStatus()}"></td>
            <td th:text="${pc.getProducttype()}"></td>
        </tr>

        <tr th:each="mobil: ${mobil}">
            <td th:text="${mobil.getName()}"></td>
            <td th:text="${mobil.getStatus()}"></td>
            <td th:text="${mobil.getProducttype()}"></td>
        </tr>

        <tr th:each="tablet: ${tablet}">
            <td th:text="${tablet.getName()}"></td>
            <td th:text="${tablet.getStatus()}"></td>
            <td th:text="${tablet.getProducttype()}"></td>
        </tr>

        <tr th:each="peripheral: ${peripheral}">
            <td th:text="${peripheral.getName()}"></td>
            <td th:text="${peripheral.getStatus()}"></td>
            <td th:text="${peripheral.getProducttype()}"></td>
        </tr>

        </tbody>
    </table>
    <button>
        <a th:onclick="'javascript:editClicked(\'' + ${admin.getId()} + '\');'">Rediger medarbejder</a>
    </button>
    <button>
        <a th:onclick="'javascript:deleteClicked(\'' + ${admin.getId()} + '\');'">Slet medarbejder</a>
    </button>
</div>


</body>
</html>