<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj sag</title>
</head>

<div class="container">

<h1>Opret sag</h1>

<form action="#" th:action="@{/casesAdd}" th:object="${case}" method="post">

    <p>Emne: <input type="text" th:field="*{subject}"></p>
    <p>Tildelt til: <input type="text" th:field="*{assigned}"></p>
    <p>Beskrivelse: <input type="text" size="50" th:field="*{description}"></p>
    <p>Startet af: <input type="text" th:field="*{caseOwner}"></p>
    <p>Status:
        <select th:field="*{status}">
            <option value="Aktiv">Aktiv</option>
            <option value="Afsluttet">Afsluttet</option>
        </select>
    </p>


    <input type="submit" value="Tilføj" class="btn add"/>

</form>

</div>

</body>
</html>