<!DOCTYPE html>
<script>
    function rowClicked(value) {
        location.href = "/caseProfile/" + value;
    }

</script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sager</title>

</head>
<body>

<div th:replace="header">...</div>
<div class="container">

    <h1>Sager</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emne</th>
            <th scope="col">Tildelt til</th>
            <th scope="col">Startet af</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="cases: ${cases}" style="cursor: pointer"
            th:onclick="'javascript:rowClicked(\'' + ${cases.getId()} + '\');'">
            <td th:text="${cases.getSubject()}"></td>
            <td th:text="${cases.getAssigned()}"></td>
            <td th:text="${cases.getCaseOwner()}"></td>
        </tr>
    </table>

</div>
</body>
</html>