<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Slet medarbejder</title>
</head>
<body>
<h1>Slet medarbejder</h1>

<table class="tables" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Afdeling</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getFirstName()}"></td>
        <td th:text="${employee.getLastName()}"></td>
        <td th:text="${employee.getDepartmentName()}"></td>
        <td>
            <a th:href="@{'/editEmp/' + ${employee.id}}">Opdater</a>
            <a th:href="@{'/deleteEmp/' + ${employee.id}}">Slet</a>
        </td>
    </tr>
    <tr th:each="support: ${supports}">
        <td th:text="${support.getId()}"></td>
        <td th:text="${support.getFirstName()}"></td>
        <td th:text="${support.getLastName()}"></td>
        <td th:text="${support.getDepartmentName()}"></td>
        <td>
            <a th:href="@{'/editSup/' + ${support.id}}">Opdater</a>
            <a th:href="@{'/deleteSup/' + ${support.id}}">Slet</a>
        </td>
    </tr>
    <tr th:each="admin: ${admins}">
        <td th:text="${admin.getId()}"></td>
        <td th:text="${admin.getFirstName()}"></td>
        <td th:text="${admin.getLastName()}"></td>
        <td th:text="${admin.getDepartmentName()}"></td>
        <td>
            <a th:href="@{'/deleteAdmin/' + ${admin.id}}">Slet</a>
        </td>
    </tr>
    <tr th:each="itdep: ${itdeps}">
        <td th:text="${itdep.getId()}"></td>
        <td th:text="${itdep.getFirstName()}"></td>
        <td th:text="${itdep.getLastName()}"></td>
        <td th:text="${itdep.getDepartmentName()}"></td>
        <td>
            <a th:href="@{'/deleteIT/' + ${itdep.id}}">Slet</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>