<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vis medarbejdere</title>
</head>
<body>

<h1>Medarbejder liste</h1>

<table class="tables" align="center">
    <thead>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Initialer</th>
        <th>E-mail</th>
        <th>Afdeling</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.getFirstName()}"></td>
        <td th:text="${employee.getLastName()}"></td>
        <td th:text="${employee.getInitials()}"></td>
        <td th:text="${employee.getEmail()}"></td>
        <td th:text="${employee.getDepartmentName()}"></td>
    </tr>
    <tr th:each="itdep: ${itdeps}">
        <td th:text="${itdep.getFirstName()}"></td>
        <td th:text="${itdep.getLastName()}"></td>
        <td th:text="${itdep.getInitials()}"></td>
        <td th:text="${itdep.getEmail()}"></td>
        <td th:text="${itdep.getDepartmentName()}"></td>
    </tr>
    <tr th:each="support: ${supports}">
        <td th:text="${support.getFirstName()}"></td>
        <td th:text="${support.getLastName()}"></td>
        <td th:text="${support.getInitials()}"></td>
        <td th:text="${support.getEmail()}"></td>
        <td th:text="${support.getDepartmentName()}"></td>
    </tr>
    <tr th:each="admin: ${admins}">
        <td th:text="${admin.getFirstName()}"></td>
        <td th:text="${admin.getLastName()}"></td>
        <td th:text="${admin.getInitials()}"></td>
        <td th:text="${admin.getEmail()}"></td>
        <td th:text="${admin.getDepartmentName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>