<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj medarbejder</title>
</head>
<body>
<div th:replace="header">...</div>

<div class="container">


<h4>Tilføj medarbejder</h4>
    <br>
<form action="#" th:action="@{/employeeAdd}" th:object="${employee}" method="post">

    <div>
        <select th:field="*{department}">
            <option th:each="employee : ${empList}"
                    th:text="${employee.departmentName}"
                    th:value="${employee.department}">
        </select>

    <p>Fornavn: <input type="text" th:field="*{firstName}"/></p>

    <p>Efternavn: <input type="text" th:field="*{lastName}"/></p>

    <p>Initialer: <input type="text" th:field="*{initials}"></p>

    <p>E-mail: <input type="text" th:field="*{email}"></p>

    <p>Password: <input type="password" th:field="*{password}"></p>

    <p>Telefonnummer: <input type="number" th:field="*{phoneNumber}"/></p>

    <p>Adresse: <input type="text" th:field="*{address}"/></p>

    <p>Leder: <input type="text" th:field="*{superior}"></p>

    <p>Profilbillede link: <input type="text" th:field="*{image}"></p>

    </div>

    <input type="submit" value="Tilføj" class="btn add"/>

</form>

</div>
</body>
</html>