<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Hardware</title>
</head>
<body>

<h1>Harware liste</h1>

<table class="tables" align="center">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Status</th>
        <th>Produkt type</th>


    </tr>
    </thead>

    <tbody>

        <tr th:each="hardware: ${hardware}">
            <td th:text="${hardware.getName()}"></td>
            <td th:text="${hardware.getStatus()}"></td>
            <td th:text="${hardware.getProducttype()}"></td>
        </tr>

        <tr th:each="pc: ${pc}">
            <td th:text="${pc.getName()}"></td>
            <td th:text="${pc.getStatus()}"></td>
            <td th:text="${pc.getProducttype()}"></td>
        </tr>

        <tr th:each="mobil: ${mobil}">
            <td th:text="${mobil.getName()}"></td>
            <td th:text="${mobil.getStatus()}"></td>
            <td th:text="${mobil.getProducttype()}"></td>
        </tr>

        <tr th:each="tablet: ${tablet}">
            <td th:text="${tablet.getName()}"></td>
            <td th:text="${tablet.getStatus()}"></td>
            <td th:text="${tablet.getProducttype()}"></td>
        </tr>

        <tr th:each="peripheral: ${peripheral}">
            <td th:text="${peripheral.getName()}"></td>
            <td th:text="${peripheral.getStatus()}"></td>
            <td th:text="${peripheral.getProducttype()}"></td>
        </tr>

    </tbody>

</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="log ud"/>
</form>

</body>
</html>