<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hardware</title>
</head>
<body>

    <form action="#" th:action="@{/hardware}"  th:object="${hardware}" method="post">

        <div>
                <select th:field="*{type}">
                    <option th:each="hardware : ${hwList}"
                            th:text="${hardware.producttype}"
                            th:value="${hardware.type}">
                </select>

        <p>Name: <input type="text" th:field="*{name}"/></p>

        <p>Status: <input type="text" th:field="*{status}"/></p>

        </div>


        <input type="submit" value="Tilføj" class="btn add"/>

    </form>


</body>

</html>