<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hardware</title>
</head>
<body>

<div th:replace="header">...</div>
<div class="container">

    <h1>Harware liste</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">Status</th>
            <th scope="col">Produkt type</th>
            <th scope="col">Anvendes af</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="hardware: ${hardware}">
                <td th:text="${hardware.getName()}"></td>
                <td th:text="${hardware.getStatus()}"></td>
                <td th:text="${hardware.getProducttype()}"></td>
                <td th:text="${hardware.getProductuser()}"></td>
            </tr>

            <tr th:each="pc: ${pc}">
                <td th:text="${pc.getName()}"></td>
                <td th:text="${pc.getStatus()}"></td>
                <td th:text="${pc.getProducttype()}"></td>
                <td th:text="${pc.getProductuser()}"></td>
            </tr>

            <tr th:each="mobil: ${mobil}">
                <td th:text="${mobil.getName()}"></td>
                <td th:text="${mobil.getStatus()}"></td>
                <td th:text="${mobil.getProducttype()}"></td>
                <td th:text="${mobil.getProductuser()}"></td>
            </tr>

            <tr th:each="tablet: ${tablet}">
                <td th:text="${tablet.getName()}"></td>
                <td th:text="${tablet.getStatus()}"></td>
                <td th:text="${tablet.getProducttype()}"></td>
                <td th:text="${tablet.getProductuser()}"></td>
            </tr>

            <tr th:each="peripheral: ${peripheral}">
                <td th:text="${peripheral.getName()}"></td>
                <td th:text="${peripheral.getStatus()}"></td>
                <td th:text="${peripheral.getProducttype()}"></td>
                <td th:text="${peripheral.getProductuser()}"></td>
            </tr>

        </tbody>

    </table>



</div>
</body>
</html>