<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script>
    function rowClicked(value) {
        location.href = "/caseProfile/" + value;
    }

</script>
<head>
    <meta charset="UTF-8">
    <title>IT afdling profil</title>
</head>
<body>
<h1>Profil</h1>

<table class="tables" align="center"></table>

<thead>
<tr>
    <th>Fornavn</th>
</tr>
<tbody>
<td th:text="${itdep.getFirstName()}"></td>
</tbody>


<table class="tables" align="center">
    <thead>
    <tr>
        <th>Emne</th>
        <th>Tildelt til</th>
        <th>Startet af</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="cases: ${cases}" style="cursor: pointer"
        th:onclick="'javascript:rowClicked(\'' + ${cases.getId()} + '\');'">
        <td th:text="${cases.getSubject()}"></td>
        <td th:text="${cases.getAssigned()}"></td>
        <td th:text="${cases.getCaseOwner()}"></td>
    </tr>
</table>

</body>
</html>